@import "tailwindcss";

@keyframes heroTextAnimation {
  0% {
    background-position: 0 200px;
  }
  100% {
    background-position: 300px 0;
  }
}

@keyframes heroAnimation {
  0% {
    background-position: 0 700px;
  }
  100% {
    background-position: 700px 0;
  }
}

@keyframes noPageFoundAnimation {
  0% {
    background-position: 0 400px;
  }
  100% {
    background-position: 400px 0;
  }
}


@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-top {
  from { transform: translateY(-30px); }
}

@keyframes slide-to-bottom {
  to { transform: translateY(30px); }
}

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-bottom;
}

::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-top;
}

@view-transition {
  navigation: auto;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-green: #6FFF9D;
  --transparent-white: rgba(255, 255, 255, 0.1);
  --transparent-black: rgba(0, 0, 0, 0.1);
  --off-white: #f0f0f0;
  --off-black: #1e1e1e;
  --transparent-off-black: rgba(30, 30, 30, 0.9);
  --hero-text-animation: heroTextAnimation 10s linear infinite forwards;
  --hero-animation: heroAnimation 10s linear infinite forwards;
  --no-page-found-animation: noPageFoundAnimation 10s linear infinite forwards;
}

@media (max-height: 600px) {
  .landscape-layout {
    flex-direction: row;
  }
  .landscape-title {
    font-size: 4rem;
  }
  .landscape-gap {
    gap: 0;
  }
  .landscape-subtitle {
    font-size: 1.2rem;
  }
}