@import "tailwindcss";

@keyframes heroTextAnimation {
  0% {
    background-position: 0 200px;
  }
  100% {
    background-position: 300px 0;
  }
}

@keyframes heroAnimation {
  0% {
    background-position: 0 700px;
  }
  100% {
    background-position: 700px 0;
  }
}

:root {
  --primary-green: #6FFF9D;
  --transparent-black: rgba(0, 0, 0, 0.7);
  --off-white: #f0f0f0;
  --off-black: #1e1e1e;
  --hero-text-animation: heroTextAnimation 10s linear infinite forwards;
  --hero-animation: heroAnimation 10s linear infinite forwards;
}

@media (max-height: 600px) {
  .landscape-layout {
    flex-direction: row;
  }
}